PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=root123
DB_DATABASE=vybe_cabs

REDIS_HOST=localhost
REDIS_PORT=6379

RIDE_ACCEPT_TIMEOUT_SECONDS=15
NEAREST_DRIVER_SEARCH_RADIUS_KM=5
NEAREST_DRIVER_BATCH_SIZE=5
